#######################################################
# FILES
#######################################################

# Backup files
*.swp
*~
*un~
# Less file
.lesshst
mimeapps.list

#######################################################
# FOLDERS
#######################################################

autostart/
Code/
environment.d/
fontconfig/conf.d/
glib-*.*/
pulse/
systemd/
zsh/

