#######################################################
# HIDDEN FOLDERS
#######################################################

# Robot3T application data
.3T/
# Audacity application data
.audacity-data/
# miscellaneous applications data
.cache/
# miscellaneous applications data - exclude what you need
.config/*
.dbus/
# Docker application data
.docker/
# Eclipse application data
.eclipse/
# Ruby package manager
.gem/
# Gnome application data
.gnome/
# GNU privacy guard application data
.gnupg/
# Gradle application data
.gradle/
# Intellij Idea application data
.idea-build/
# A dependency manager application data
.ivy2/
# Jabba's JDKs
.jabba/
# Jason lang data
.jason/
# Java data
.java/
# KDE data
.kde/
# user specific data.. often useless
.local/
# Maven data
.m2/
# Matlab application data
.matlab/
# npm application data
.npm/
# JavaFX data
.openjfx/
# Multimedia framework by GNOME
.pipewire-media-session/
# Public-Key Infrastructure
.pki/
# Qt data
.QtWebEngineProcess/
# RStudio application data
.rstudio-desktop/
# Scala Build Tool data
.sbt/
# SSH known hosts
.ssh/
# SimpleScreenRecorder application data
.ssr/
# Steam application data
.steam/
# Apache Subversion application data
.subversion/
# TexLive versions data
.texlive*/
# VMWare application data
.vmware/
# VSCode application data
.vscode/
# Zoom meetings application data
.zoom/

#######################################################
# FOLDERS
#######################################################

bin/
Desktop/
Documents/
Downloads/
# CIV6 created folder
FiraxisLive/
Music/
Pictures/
Public/
R/
snap/
Videos/

#######################################################
# FILES
#######################################################

# Bash data
.bash_history
# PulseAudio file
.esd_auth
# man generated file
.lesshst
# muPDF file
.mupdf.history
# NVidia settings file - TODO to evaluate
.nvidia-settings-rc
# Steam files
.steampath
.steampid
# wget generated file
.wget-hsts
# credentials for authentication of X sessions
.Xauthority

#######################################################
# EXCEPTIONS
#######################################################

!.config/bspwm
!.config/git
!.config/picom
!.config/polybar
!.config/sxhkd
