#######################################################
# HIDDEN FOLDERS
#######################################################

# Robot3T application data
/home/**/.3T/
# Arduino IDEs files
/home/**/.arduino15/
/home/**/.arduinoProIDE/
# Argos simulator
/home/**/.argos3/
# Audacity application data
/home/**/.audacity-data/
# Ruby bundle
/home/**/.bundle/
# miscellaneous applications data
/home/**/.cache/
# rust packages folder
/home/**/.cargo/
# cmake packages folder
/home/**/.cmake/
# miscellaneous applications data - exclude what you need
/home/**/.config/*
!/home/**/.config/autostart
/home/**/.config/autostart/*
/home/**/.config/zsh/plugins/*
# CuPy kernel cache
/home/**/.cupy/
# C-Python extension folder
/home/**/.cython/
/home/**/.dbus/
# Docker application data
/home/**/.docker/
# Eclipse application data
/home/**/.eclipse/
# Electron
/home/**/.electron-gyp/
# Flatpack settings folder
/home/**/.fltk/
# Ruby package manager
/home/**/.gem/
# Gnome application data
/home/**/.gnome/
# GNU privacy guard application data
/home/**/.gnupg/
# Gradle application data
/home/**/.gradle/
# Intellij Idea application data
/home/**/.idea/
/home/**/.idea-build/
# Phython interactive shell folder
/home/**/.ipython/
# A dependency manager application data
/home/**/.ivy2/
# Jabba's JDKs
/home/**/.jabba/
# Jason lang data
/home/**/.jason/
# Java data
/home/**/.java/
# Julia language folder
/home/**/.julia/
# Jupyter notebook folder
/home/**/.jupyter/
# KDE data
/home/**/.kde/
# user specific data.. often useless
/home/**/.local/*
!/home/**/.local/share
/home/**/.local/share/*
!/home/**/.local/share/applications
/home/**/.local/share/applications/*
!/home/**/.local/share/oh-my-zsh
/home/**/.local/share/oh-my-zsh/*
!/home/**/.local/share/oh-my-zsh/themes
/home/**/.local/share/oh-my-zsh/themes/*
# Maven data
/home/**/.m2/
# Matlab application data
/home/**/.matlab/
# Minecraft game folder
/home/**/.minecraft/
# Mozilla data
/home/**/.mozilla/
# Markdown preview for vscode / atom
/home/**/.mume/
# npm application data
/home/**/.npm/
# JavaFX data
/home/**/.openjfx/
# Paradox company files
/home/**/.paradoxlauncher/
# Platformio tool files
/home/**/.platformio/
# Multimedia framework by GNOME
/home/**/.pipewire-media-session/
# Public-Key Infrastructure
/home/**/.pki/
# Firefox generated file
/home/**/.pulse-cookie
# Qt data
/home/**/.QtWebEngineProcess/
# RStudio application data
/home/**/.rstudio-desktop/
# Scala Build Tool data
/home/**/.sbt/
# SSH known hosts
/home/**/.ssh/
# SimpleScreenRecorder application data
/home/**/.ssr/
# Steam application data
/home/**/.steam/
# Apache Subversion application data
/home/**/.subversion/
# TexLive versions data
/home/**/.texlive*/
# Thunderbird generated files
/home/**/.thunderbird/
# VMWare application data
/home/**/.vmware/
# VSCode application data
/home/**/.vscode/
/home/**/.vscode-oss/
# Xournal++ usage data (autosaves etc.)
/home/**/.xournalpp/
# yarn dependencies folder
/home/**/.yarn/
# zsh completion "cache"
/home/**/.zcompdump
# Zoom meetings application data
/home/**/.zoom/
# Zotero data folder
/home/**/.zotero/

#######################################################
# FOLDERS
#######################################################

# System folders
Backups/
CachedConfigurations/
CachedExtensionVSIXs/
CachedProfilesData/
User/
etc/
dev/
lib64/
logs/
mnt/
nix/
proc/
run/
sys/
tmp/
var/
# argos3 simulator installation folder
argos3/
bin/
Desktop/
Documents/
Downloads/
# CIV6 created folder
FiraxisLive/
Music/
Pictures/
Public/
R/
snap/
Videos/
vmware/
__pycache__/
# Zotero data folder
Zotero/

#######################################################
# FILES
#######################################################

# Bash data
/home/**/.bash_history
/home/**/.bash_logout
/home/**/.bash_profile
/home/**/.bashrc
# ZSH cache for autocompletion
/home/**/.config/zsh/.zcompdump*
# PulseAudio file
/home/**/.esd_auth
# Feh unwanted file
/home/**/.fehbg
# GTK autogenerated configuration file
/home/**/.gtkrc*
# man generated file
/home/**/.lesshst
# muPDF file
/home/**/.mupdf.history
# NVidia settings file - TODO to evaluate
/home/**/.nvidia-settings-rc
# Python commands history
/home/**/.python_history
# Steam files
/home/**/.steampath
/home/**/.steampid
# vim info file
/home/**/.viminfo
# wget generated file
/home/**/.wget-hsts
# credentials for authentication of X sessions
/home/**/.Xauthority
/home/**/.xsession-errors*
# package manager autogenerated config file
/home/**/.yarnrc
# ZSH history data
/home/**/.zsh_history
# Language file
languagepacks.json
# ID of the machine
machineid
# public and private keys
wgprivatekey
wgpublickey
# ???
Cookies
Cookies-journal
code.lock
DIPS
DIPS-wal
Preferences
Network Persistent State
SharedStorage
SharedStorage-wal
TransportSecurity
Trust Tokens
Trust Tokens-journal

#######################################################
# EXCEPTIONS
#######################################################

!/etc/nixos/
!/home/**/.gtkrc*.mine
!/home/**/.local/share/applications/mailspring.desktop
!/home/**/.local/share/applications/ranger.desktop
!/home/**/.config/alacritty
!/home/**/.config/autostart/mailspring.desktop
!/home/**/.config/autostart/set_keyboard.sh
!/home/**/.config/autostart/config_missing.sh
!/home/**/.config/bspwm
!/home/**/.config/dunst
!/home/**/.config/fontconfig
!/home/**/.config/git
!/home/**/.config/picom
!/home/**/.config/polybar
!/home/**/.config/simple-term-menu
!/home/**/.config/sxhkd
!/home/**/.config/ranger
!/home/**/.config/rofi
!/home/**/.config/virtualbar
!/home/**/.config/zsh