#!/bin/sh

##
## Executed by lightdm at startup
## It execute also bspwm automatically: no need to specify
##

## SESSION SETTINGS

# Set our default path
#export ARGOS_PLUGIN_PATH=$HOME/.argos3/build_simulator/plugins:/usr/local/lib/argos3:/home/mandrab/Documents/hd_documents/projects/argos-experiments/library/nnsc/lib
export BROWSER=/usr/bin/vivaldi-snapshot
export BSPWM_SOCKET="/tmp/bspwm-socket"
export DEBUGINFOD_URLS="https://debuginfod.archlinux.org"
export EDITOR=/usr/bin/vim
export GUI_EDITOR=/usr/bin/code
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export IRACE_HOME=/usr/lib/R/library/irace
export LD_LIBRARY_PATH="/opt/cuda:/opt/cuda/lib64:/opt/cuda/targets/x86_64-linux/lib/:/usr/local/lib"
export LESSHISTFILE="$HOME/.cache"
export PANEL_FIFO="/tmp/panel-fifo"
export PATH="/usr/bin:/usr/local/bin:/usr/local/sbin:/usr/bin/core_perl:/usr/bin/vendor_perl:/usr/bin/site_perl:/usr/share/pk2:/usr/local/lib/argos3:$HOME/argos3/build_simulator:$HOME/.local/share/gem/ruby/3.2.0/bin:$IRACE_HOME/bin:$HOME/.local/bin:$HOME/.scripts"
export QT_QPA_PLATFORMTHEME="qt5ct"
export TERMINAL=/usr/bin/alacritty
export VISUAL=/usr/bin/code
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_DIRS=/usr/etc/xdg:/etc/xdg
#export XDG_DATA_DIRS=/var/lib/flatpak/exports/share:/home/mandrab/.local/share/flatpak/exports/share
export ZDOTDIR=.config/zsh

# Termcap is outdated, old, and crusty, kill it.
unset TERMCAP

# Man is much better than us at figuring this out
unset MANPATH

## ALIASES
alias python=python3.10

## DEMONS STARTUP

# Automount removable media
devmon &

# Notification manager
dunst &

# Polkit agent
/usr/bin/polkit-dumb-agent &

## APPLICATIONS STARTUP

# Setup of java jdk through jabba
[ -s "$HOME/.jabba/jabba.sh" ] && source "$HOME/.jabba/jabba.sh"
jabba use `jabba ls | head -n 1`

# This script exec all the other script files in the folder
FOLDER="$HOME/.autostart"

for FILE in `ls "$FOLDER"`; do
	if [[ -d "$FOLDER/$FILE" ]]; then
		break
	fi
	if [[ -x "$FOLDER/$FILE" ]]; then
		echo "Executing $FILE script"
		sh "$FOLDER/$FILE"
	fi
	if [[ "$FOLDER/$FILE" == *.desktop ]]; then
		echo "Starting startup application $FILE"
		gtk-launch "$FILE"
	fi
done
