[Desktop Entry]
Name=Ranger
Comment=Text based file manager
Exec=sh -c "$TERM -e /usr/bin/ranger"
Icon="/usr/share/pixmaps/ranger.png"
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;
